<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Beltway_1_pg_2</title>
  <link rel="stylesheet" href="/Beltway/public/styles/style.css">
</head>

<body id="body">
    <div id="container">

        <img src="/public/comic img/pg2BeltwayComic.png" alt="Beltway Comic page 2">

    </div>
  <!--<script src=".script.js"></script>-->
</body>

<footer>


      <span>
        <button id="homeBtn" type= "button"
        onclick= "location.href = '/views/index.html'">Home</button>
      </span>

      <span>
        <button id="PriorPgBtn" type= "button"
        onclick= "location.href = '/views/comicpg1.html'">&lt; Prior Page</button>
      </span>

      <span>
        <button id="NextPgBtn" type= "button"
        onclick= "location.href = '/views/comicpg3.html'">Next Page &gt;</button>
      </span>
          

   
</footer>
</html>